.catalog {
  padding: 20px 0 25px;
}

.catalog__wrapper {
  width: 320px;
  margin: 0 auto;
}

.catalog__title {
  margin: 0;
  padding: 20px;
  padding-top: 0;
  border-bottom: 1px solid #e6e6e6;
}

.catalog__list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  min-height: 210px;
  padding: 0 20px 24px;
  border-bottom: 1px solid #e6e6e6;
  box-sizing: border-box;
}

.catalog__product-photo {
  width: 140px;
  height: 144px;
}

.catalog__product-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 140px;
}

.catalog__product-title {
  width: 85px;
  margin: 0;
  margin-bottom: 17px;
  font-family: "Oswald-reg", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: @heading-color;
  text-transform: uppercase;
}

.catalog__product-info {
  width: 140px;
  font-size: 12px;
  line-height: 16px;
}

.catalog__product-argument {
  text-align: left;
}

.catalog__product-value {
  text-align: right;
}

.catalog__product-btn {
  width: 100%;
}

.catalog__all-products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 320px;
  padding: 80px 20px 25px;
  border-bottom: 1px solid #e6e6e6;
  box-sizing: border-box;
}

.catalog__more-goods-title {
  margin: 0;
  margin-bottom: 7px;
  font-family: "Oswald-reg", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  color: @heading-color;
  text-transform: uppercase;
}

.catalog__more-goods-description {
  margin: 0;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}

@media (min-width: @tablet-screen) {
  .catalog__wrapper {
    width: 710px;
  }
  
  .catalog__title {
    padding: 0;
    margin-top: 65px;
    margin-bottom: 75px;
    border-bottom: none;
  }
  
  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: @tablet-screen;
    padding-top: 83px;
    margin: 0 -29px -83px;
  }
  
  .catalog__item {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 326px;
    min-height: 433px;
    padding: 0 37px 40px;
    margin: 0 29px;
    margin-bottom: 143px;
    border-bottom: none;
    background-color: @secondary-color;
  }
  
  .catalog__product-photo {
    margin-top: -60px;
    margin-bottom: auto;
    
    &--big {
      margin-top: -83px;
    }
  }
  
  .catalog__product-description {
    width: 100%;
  }
  
  .catalog__product-title {
    width: 140px;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
  }
  
  .catalog__product-info {
    width: 252px;
    margin-bottom: 34px;
    font-size: 16px;
    border-collapse: collapse;
  }
  
  .catalog__product-argument,
  .catalog__product-value {
    height: 30px;
    border-bottom: 1px solid #cdcdcd;
  }
  
  .catalog__product-btn {
    padding: 10px;
    width: 250px;
  }
  
  .catalog__all-products {
    justify-content: space-between;
    width: 326px;
    min-height: 433px;
    padding: 160px 37px 40px;
    margin: 0 29px;
    border: 1px solid #cdcdcd;
  }
  
  .catalog__more-goods-title {
    font-size: 20px;
  }
  
  .catalog__more-goods-description {
    font-size: 16px;
  }
  
  .catalog__more-goods-btn {
    padding: 10px;
  }
}

@media (min-width: @desktop-screen) {
  .catalog__wrapper {
    width: 1220px;
  }
  
  .catalog__list {
    width: @desktop-screen;
    margin: 0 -40px -63px;
  }
  
  .catalog__item {
    width: 250px;
    min-height: 435px;
    margin-right: 40px;
    margin-left: 40px;
  }
  
  .catalog__product-info {
    width: 168px;
  }
  
  .catalog__product-btn {
    width: 168px;
    font-size: 16px;
  }
  
  .catalog__all-products {
    width: 250px;
    min-height: 435px;
    margin-right: 40px;
    margin-left: 40px;
  }
  
  .catalog__more-goods-title  {
    margin-bottom: 25px;
  }
  
  .catalog__more-goods-btn {
    font-size: 16px;
  }
  
  .catalog__more-goods-description {
    margin-bottom: auto;
  }
}