.example {
  padding: 22px 0 36px;
  background-color: @secondary-color;
}

.example__title {
  margin: 0;
  margin-bottom: 27px;
}

.example__description {
  margin: 0;
  margin-bottom: 25px;
}

.example__data {
  margin-bottom: 20px;
  padding: 12px 20px;
  border: 1px solid #cdcdcd;
  border-radius: 2px;
}

.example__data-description {
  padding: 0 15px;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;
  color: @main-text-color;
  background-color: @secondary-color;
}

.example__data-value {
  font-family: "Oswald-reg", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: @heading-color;
}

.example__sum {
  margin-bottom: 40px;
  font-family: "Oswald-reg", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: @heading-color;
}
.example__photo {
  margin: 0;
  padding: 0;
}

.example__slides-list {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  list-style: none;
}

.example__slider-btn {
  border: none;
  font-family: "Oswald-reg", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @heading-color;
  background-color: @secondary-color;
}
