.nutrition-programs__wrapper {
  width: 280px;
  margin: 0 auto;
}

.nutrition-programs__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nutrition-programs__item {
  margin-bottom: 20px;
  padding: 33px 20px 23px;
  background-color: @secondary-color;
  box-sizing: border-box;
}

.nutrition-programs__item-title {
  margin: 0;
  margin-bottom: 30px;
  padding-left: 70px;
  font-family: "Oswald-reg", "Arial", sans-serif;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: @heading-color;
  text-transform: uppercase;
}

.nutrition-programs__item-info {
  margin: 0;
  margin-bottom: 20px;
  padding-bottom: 25px;
  border-bottom: 1px solid #d9d9d9;
}

.nutrition-programs__btn {
  padding-right: 38px;
  font-family: "Oswald-reg", "Arial", sans-serif;
  color: @heading-color;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;

  &:active {
    color: rgba(@heading-color, 0.3);
  }
}

@media (min-width: @tablet-screen) {
  .nutrition-programs__wrapper {
    width: 710px;
  }

  .nutrition-programs__list {
    width: 100%;
  }

  .nutrition-programs__item {
    width: 100%;
    margin-bottom: 30px;
    padding: 82px 286px 65px 55px;
  }

  .nutrition-programs__item-title {
    padding: 0;
    font-size: 36px;
  }

  .nutrition-programs__item-info {
    margin-bottom: 60px;
    border-bottom: none;
  }

  .nutrition-programs__btn {
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: @desktop-screen) {
  .nutrition-programs__wrapper {
    width: 1220px;
  }

  .nutrition-programs__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 50px;
  }

  .nutrition-programs__item {
    width: 570px;
    padding: 80px 53px 63px;
  }

  .nutrition-programs__item-title {
    margin-bottom: 80px;
    padding-left: 160px;
  }

  .nutrition-programs__item-info {
    margin-bottom: 35px;
  }
}
