.program-selection {
  padding: 19px 0 32px;
  font-family: "Oswald-reg", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
}

.program-selection__title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0 20px;
}

.program-selection__intro {
  margin: 0;
  margin-bottom: 40px;
  padding: 0 20px;
  color: @heading-color;
  text-transform: uppercase;
}

.program-selection__fieldset-title {
  margin: 0;
  margin-bottom: 32px;
  font-size: 24px;
  line-height: 24px;
  color: @heading-color;
  background-color: #ffffff;
}

.program-selection__input-label {
  text-transform: uppercase;
  color: #222222;
}

.program-selection__text-field {
  padding: 15px;
  padding-right: 33px;
  border: 1px solid rgba(205, 205, 205, 0.5);
  background-color: #ffffff;
  font: inherit;
  text-transform: uppercase;
  color: @main-text-color;
  box-sizing: border-box;

  &:hover {
    border-color: rgba(205, 205, 205, 1)
  }

  &:active,
  &:focus {
    border: 2px solid @main-text-color;
  }

  &:invalid {
    border: 2px solid #ff8282;
  }
}

.program-selection__cat-info {
  padding: 0 20px;
  padding-bottom: 23px;
  border: none;
  border-bottom: 1px solid #ededed;
}

.program-selection__program-type {
  padding: 21px 20px;
  margin-bottom: 32px;
  border: none;
  border-bottom: 1px solid #ededed;
}

.program-selection__owner-data {
  margin-bottom: 31px;
  padding: 0 20px;
  border: none;
}

.program-selection__comment {
  padding: 0 20px;
  margin-bottom: 32px;
  border: none;
}

.program-selection__comment-field {
  padding: 15px;
  border: 1px solid rgba(205, 205, 205, 0.5);
  background-color: #ffffff;
  font: inherit;
  text-transform: uppercase;
  color: @main-text-color;
  box-sizing: border-box;

  &:hover {
    border-color: rgba(205, 205, 205, 1);
  }

  &:active,
  &:focus {
    border: 2px solid @main-text-color;
  }
}

.program-selection__extra-field {
  margin-bottom: 34px;
  padding: 0 20px;
  border: none;
}

.program-selection__btn {
  margin-bottom: 23px;
}

.program-selection__footnote {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}
