.program-selection {
  padding: 15px 0 28px;
  font-family: "Oswald-reg", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
}

.program-selection__wrapper {
  width: 320px;
  margin: 0 auto;
}

.program-selection__info {
  width: 280px;
  margin: 0 auto;
}

.program-selection__title {
  margin: 0;
  margin-bottom: 25px;
}

.program-selection__intro {
  width: 250px;
  margin: 0;
  margin-bottom: 40px;
  font-size: 14px;
  color: @heading-color;
  text-transform: uppercase;
}

.catalog-selection__fieldset-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.program-selection__fieldset-title:not(.visually-hidden) {
  margin: 0;
  margin-bottom: 35px;
  padding: 0 20px;
  font-size: 24px;
  line-height: 24px;
  color: @heading-color;
  background-color: #ffffff;
}

.program-selection__input-label {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 14px;
  padding: 0 20px;
  text-transform: uppercase;
  text-align: left;
  color: #222222;
  box-sizing: border-box;
  fill: #222222;
}

.program-selection__required-field {
  position: relative;
  top: -2px;
}

.program-selection__text-field {
  flex-grow: 1;
  margin-left: 15px;
  padding: 13px 15px 12px;
  padding-right: 33px;
  border: 1px solid rgba(205, 205, 205, 0.5);
  background-color: #ffffff;
  font: inherit;
  text-transform: uppercase;
  color: @main-text-color;
  box-sizing: border-box;
  appearance: textfield;

  &:hover {
    border-color: rgba(205, 205, 205, 1);
  }

  &:active,
  &:focus {
    outline: 2px solid @main-text-color;
    outline-offset: -1px;
  }

  &:active ~ svg,
  &:focus ~ svg {
    fill: @main-color;
  }

  &:invalid {
    outline: 2px solid @error-color;
    outline-offset: -1px;
  }

  &:invalid ~ svg {
    fill: @error-color;
  }

  &::placeholder {
    color: @main-text-color;
  }
}

.program-selection__input-label svg {
  position: absolute;
  top: 50%;
  right: 38px;
  transform: translateY(-50%);
}

.program-selection__cat-info {
  width: 100%;
  padding: 0;
  padding-bottom: 8px;
  border: none;
  border-bottom: 1px solid #ededed;
}

.program-selection__program-type {
  width: 100%;
  padding: 0;
  padding-top: 27px;
  margin-bottom: 25px;
  border: none;
  border-bottom: 1px solid #ededed;
  box-sizing: border-box;
}

.program-selection__program-type .program-selection__input-label,
.program-selection__extra-field .program-selection__input-label {
  z-index: 5;
  width: 280px;
  margin: 0 20px 25px;
  padding-left: 47px;
  box-sizing: border-box;
}

.program-selection__radio-btn {
  position: absolute;
  top: 50%;
  left: -1px;
  z-index: 1;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 1px solid #cdcdcd;
  transform: translateY(-50%);
}

input[type="radio"]:checked ~ .program-selection__radio-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: @main-color;
  transform: translate(-50%, -50%);
  transition: all 0.2s;
}

input[type="radio"]:hover ~ .program-selection__radio-btn,
input[type="checkbox"]:hover ~ .program-selection__checkbox {
  border-color: #bababa;
}

.program-selection__program-type .program-selection__input-label:active,
.program-selection__extra-field .program-selection__input-label:active {
  opacity: 0.3;
}

.program-selection__owner-data {
  margin-bottom: 15px;
  padding: 0;
  border: none;
}

.program-selection__owner-data input {
  width: 195px;
  padding-right: 42px;
}

.program-selection__comment {
  padding: 0;
  margin-bottom: 32px;
  border: none;
}

.program-selection__comment-field {
  display: block;
  width: 280px;
  min-height: 150px;
  padding: 15px;
  margin: 0 20px;
  border: 1px solid rgba(205, 205, 205, 0.5);
  background-color: #ffffff;
  font: inherit;
  text-transform: uppercase;
  color: @main-text-color;
  box-sizing: border-box;

  &:hover {
    border-color: rgba(205, 205, 205, 1);
  }

  &:active,
  &:focus {
    outline: 2px solid @main-text-color;
    outline-offset: -1px;
  }
}

.program-selection__extra-field {
  margin-bottom: 15px;
  padding: 0;
  border: none;
}

.program-selection__owner-data,
.program-selection__comment,
.program-selection__extra-field {
  width: 100%;
  border-top: 3px solid @main-color;
}

.program-selection__owner-data .program-selection__fieldset-title {
  width: 181px;
}

.program-selection__checkbox {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  width: 28px;
  height: 28px;
  border: 1px solid #cdcdcd;
  transform: translateY(-50%);
}

input[type="checkbox"]:checked ~ .program-selection__checkbox::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 21px;
  height: 16px;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: center;
  transform: translate(-50%, -50%);
}

.program-selection__btn {
  width: 280px;
  margin: 0 20px;
  margin-bottom: 23px;
}

.program-selection__footnote {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}
// планшетная версия
@media (min-width: @tablet-screen) {
  .program-selection {
    padding-top: 50px;
    padding-bottom: 72px;
    font-size: 20px;
    line-height: 20px;
  }

  .program-selection__wrapper {
    width: 100%;
  }

  .program-selection__info {
    width: 710px;
    margin: 0 auto;
  }

  .program-selection__title {
    margin-bottom: 55px;
  }

  .program-selection__intro {
    width: 330px;
    margin-left: 43px;
    margin-bottom: 65px;
    font-size: 20px;
    line-height: 30px;
  }

  .program-selection__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .catalog-selection__fieldset-group {
    width: 630px;
    margin: 0 auto;
  }

  .program-selection__text-field {
    padding: 15px 20px;
    padding-right: 50px;
  }

  .program-selection__cat-info,
  .program-selection__program-type {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    border-bottom: none;
  }

  .program-selection__cat-info {
    padding-bottom: 53px;
  }

  .program-selection__program-type {
    margin-bottom: 80px;
    padding-top: 30px;
    border: 1px solid #cdcdcd;
  }

  .program-selection__program-type .program-selection__input-label {
    width: 310px;
    margin: 0 30px 35px;
    padding-left: 55px;
  }

  .program-selection__radio-btn {
    width: 36px;
    height: 36px;
  }

  input[type="radio"]:checked ~ .program-selection__radio-btn::before {
    width: 17px;
    height: 17px;
  }

  .program-selection__owner-data,
  .program-selection__comment,
  .program-selection__extra-field {
    width: 100%;
    margin-bottom: 50px;
    border-top: 3px solid @main-color;
  }

  .program-selection__owner-data input {
    padding-right: 63px;
  }

  .program-selection__fieldset-title:not(.visually-hidden) {
    position: relative;
    top: -5px;
    width: auto;
    margin-left: 30px;
    margin-bottom: 70px;
    padding: 0 40px;
    font-size: 36px;
    line-height: 36px;
  }

  .program-selection__input-label {
    width: 635px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 0;
  }

  .program-selection__input-label svg {
    right: 15px;
  }

  .program-selection__comment {
    margin-bottom: 65px;
  }

  .program-selection__comment-field {
    width: 635px;
    margin: 0 auto;
    padding: 12px 20px;
    line-height: 30px;
  }

  .program-selection__group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 630px;
    margin: 0 auto;
  }

  .program-selection__extra-field {
    margin-bottom: 20px;
  }

  .program-selection__extra-field .program-selection__input-label {
    width: 290px;
    margin: 0;
    margin-bottom: 45px;
    padding-left: 60px;
  }

  .program-selection__checkbox {
    width: 40px;
    height: 40px;
  }

  .program-selection__btn {
    width: 283px;
    margin: 0;
  }

  .program-selection__footnote {
    margin-left: 60px;
    margin-right: auto;
    font-size: 16px;
  }
}
// десктопная версия
@media (min-width: @desktop-screen) {
  .program-selection {
    padding-top: 65px;
    padding-bottom: 80px;
  }

  .program-selection__info {
    width: 1220px;
  }

  .program-selection__intro {
    margin-left: 0;
  }

  .program-selection__form {
    justify-content: space-between;
  }

  .catalog-selection__fieldset-group {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 1220px;
  }

  .program-selection__cat-info {
    width: 570px;
    margin: 0;
    margin-bottom: 55px;
    padding-bottom: 0;
  }

  .program-selection__program-type {
    width: 570px;
    margin: 0;
    margin-bottom: 55px;
    padding-top: 35px;
  }

  .program-selection__owner-data {
    margin-bottom: 57px;
  }

  .program-selection__fieldset-title:not(.visually-hidden) {
    margin-left: 70px;
  }

  .program-selection__extra-field {
    margin-bottom: 28px;
  }

  .program-selection__extra-field .program-selection__fieldset-title {
    margin-bottom: 60px;
  }

  .program-selection__group {
    width: 1220px;
  }

  .program-selection__input-label {
    width: 570px;
    margin: 0 0 20px;
  }

  .program-selection__extra-field .program-selection__input-label {
    width: 250px;
  }

  .program-selection__text-field {
    padding-left: 20px;
  }

  .program-selection__input-label svg {
    right: 20px;
  }

  .program-selection__comment {
    margin-bottom: 70px;
  }

  .program-selection__comment-field {
    width: 1220px;
  }

  .program-selection__btn {
    width: 570px;
    margin-right: 20px;
  }
}
