@import "node_modules/normalize.less/normalize.less";
@import "variables.less";
@import "blocks/page-header.less";
@import "blocks/menu.less";
@import "blocks/burger-btn.less";
@import "visually-hidden.less";
@import "blocks/promo.less";
@import "blocks/btn.less";
@import "blocks/nutrition-programs.less";
@import "blocks/usage.less";
@import "blocks/section-title.less";
@import "blocks/example.less";
@import "blocks/slider.less";
@import "blocks/contacts.less";
@import "blocks/page-footer.less";
@import "blocks/catalog.less";
@import "blocks/extra-goods.less";
@import "blocks/stock.less";
@import "blocks/program-selection.less";

//шрифты
@font-face {
  font-family: "Oswald-reg";
  src: url("../fonts/oswaldregular.woff2") format("woff2"),
    url("../fonts/oswaldregular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Oswald-med";
  src: url("../fonts/oswaldmedium.woff2") format("woff2"),
    url("../fonts/oswaldmedium.woff") format("woff");
  font-weight: medium;
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: @main-text-color;
  text-align: left;
  background-color: #ffffff;
}

@media (min-width: @tablet-screen) {
  body {
    font-size: 16px;
    line-height: 24px;
  }
}
