.usage__title {
  margin: 0;
  margin-bottom: 23px;
}

.usage__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.usage__item {
  margin-bottom: 20px;
  padding-left: 80px;
}

.usage__icon {
  display: block;
  width: 60px;
  height: 60px;
  background-color: @main-color;
  background-repeat: no-repeat;
  background-position: center;

  &--leaf {
    background-image: url("../img/advantage-leaf@1x.png");
  }

  &--powder {
    background-image: url("../img/advantage-powder@1x.png");
  }

  &--dinning {
    background-image: url("../img/advantage-dining@1x.png");
  }

  &--clock {
    background-image: url("../img/advantage-clock@1x.png");
  }
}
