// цвета проекта
@main-color: #68b738;
@main-color-hover: #5eaa2f;
@secondary-color: #f2f2f2;
@heading-color: #111111;
@main-text-color: #444444;
@secondary-text-color: #ffffff;
@main-color-hover: #5eaa2f;
@error-color: #ff8282;

//размеры экрана
@tablet-screen: 768px;
@desktop-screen: 1440px;
